body {
  color: var(--color-primary);
  font-family: "Viga", sans-serif;
  line-height: 1.4;
  max-width: 1440px;

  margin: 0 auto;
}

p {
  font-family: var(--font-secondary);
}

*:focus {
  outline: 4px dashed #4158d0;
}

html {
  scroll-behavior: smooth;
}
