.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 4.5rem;
  background-image: url(/public/img/banner/bg-banner.jpg);
  @media (max-width: 600px) {
    position: relative;
    z-index: 10;
    padding-bottom: 0;
    background-image: none;
    background-color: var(--color-secondary);
  }

  &__box {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m-l);

    padding-top: var(--space-xl);
    padding-bottom: var(--space-l);
    margin-bottom: 2rem;
  }

  &__text {
    font-family: var(--font-secondary);
    margin-bottom: 3.125rem;
    text-align: center;
    max-width: 52ch;
  }
}

// Small image fix
