.latest {
  background: url(/public/img/latest/bg-latest.jpg) no-repeat;
  background-size: cover;
  padding: var(--space-xl) 0;
  @media (max-width: 700px) {
    background-color: var(--color-secondary);
    background-image: none;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 2rem;
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
  &__header {
    text-align: right;
  }
}
