:root {
  // font-family: 'DM Sans', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Viga', sans-serif;
  //=====================================================================
  //---------------------------------- Colors
  //=====================================================================
  --font-primary: "Viga", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --font-tertiary: "DM Sans", sans-serif;
  //=====================================================================
  //---------------------------------- Colors
  //=====================================================================
  --color-primary: #b94b6b;
  --color-secondary: #fbf1d9;
}
